librosa==0.9.1
numpy==1.23.5
pydub==0.25.1
pyworld==0.2.12
scipy==1.8.0
tqdm==4.65.0
scikit-maad==1.3.12
onnx==1.13.1
onnxsim==0.4.28
onnxoptimizer==0.3.10
torch==1.13.1
torchaudio==0.13.1
tensorboard==2.12.0
rich==13.3.5
tqdm-joblib==0.0.3
tensorboardx==2.6
pyinputplus==0.2.12
cm-time==0.1.2
pysimplegui==4.60.4
pebble==5.0.3
torchcrepe==0.0.18
lightning==2.0.2
transformers==4.28.1
matplotlib==3.7.1
