--extra-index-url https://download.pytorch.org/whl/cu118

pillow
diffusers==0.20.0
ftfy
transformers
opencv-python 
tqdm
numpy
pyyaml
accelerate
xformers
tensorboard
kornia
av
gradio==3.41.2
torch==2.0.1+cu118; sys_platform != 'darwin'
torch==2.0.1; sys_platform == 'darwin'
torchvision==0.15.2+cu118; sys_platform != 'darwin'
torchvision==0.15.2; sys_platform == 'darwin'
