th {
	text-align: start;
	color: #FFFC;
	font-weight: 500;
	line-height: 2;

	&.section-header {
		padding: 0.5em 0 0;
		color: #FFFF;
		font-weight: 700;
		line-height: 1.6333333;
	}
}

td {
	color: #FFFA;
	vertical-align: top;
	line-height: 1.4;

	&:has(+ td) {
		padding-right: 30px;
	}
}

th:not(.section-header), td {
	padding-left: 20px;
}
